@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header 
{
    width: 100%;
    height: 120vh;    
    background-color: #e9ecef;
    background-image: url(../images/h_img.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:center; 
    color: #fff;
   

}

.circle
{
    width: 90px;
    height: 90px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;   
    border: 4px solid #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
    
.kaido
{
    padding-top:40vh;
    /*line-height:30vh*/

}

.header-w
{
    line-height:12vh;
    padding-top: 3vh;
}

.header-d
{
    position: absolute;
    top:-8vh;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mouse-img
{
    padding-top:23vh;
}

#about-us
{
    text-align: center;
    padding-top:10vh;
    min-height: 50vh;
    width: 100%;
}

@media(max-width:530px){
 #about-us
 {
     min-height: 70vh;
 }
 #services
 {
     height: 100vh;
 }
 
} 

#services
{
    min-height: 60vh;    
    background-image: url(../images/s_image.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;       
}

.luffy
{
    color: #fff;
    text-align: center;
    padding-top:20vh;
    line-height:5vh;
    font-size: large;
}

.work
{
    
    min-height: 40vh;    
    text-align: center;   

}

.pinche
{
    margin-top: 5vh;
    text-align: center;
}

.wrapper
{
    display: flex;    
    padding-top:10vh; 
    text-align: center;
    width:auto;
    justify-content: center;   
    flex-wrap: wrap;  
}

.design
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;

    
}

.development
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;
  
}

.pm
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;
}

.portfolio
{
    width :100% ;
    min-height: 75vh;
    background-color: #fff;
    margin-left: auto; 
    margin-right: auto;     
    background:cover;
    
}

#portfolio_h3
{
    text-align: center;
}

.imgs-top
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    flex-wrap: wrap;
    overflow: hidden;        
   
}

.imgs-bottom
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;   
    flex-wrap: wrap;
    margin-top: 3vh;
    overflow: hidden;
      
}

footer
{
  min-width: 55%;
  min-height: 30vh;
  background-color: #fff;
  padding-left: 20%;
  padding-right:20%;
}

.socials
{
    display: flex;
    justify-content: center;
    padding-top: 10vh ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.bigmom
{
    text-align: center;
    margin-top: 5vh;
    line-height:1vh
}

.contact
{
    min-height: 75vh;
    background-image: url(../images/c_image.jpg);
    justify-content: center;
    align-items: center; 
    color: #fff;      
}

 form
{
    width: 80%;
    align-items: center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    overflow: hidden;
   

}

.form-header
{
    text-align: center;
    color: #fff;
    padding-top:5vh;
    overflow: hidden;
}

.input-group
{
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 5px;
    overflow: hidden;
}

.input-group2
{
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

input,textarea
{
    width: 100%;
    padding: 10px;
    background:transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size:15px;
    overflow: hidden;

}

.label
{
    color: #fff;
    height: 100%;
    position : absolute
}

.input-group>.input-field
{
    color: #fff;
    width: 40%;
    margin: 35px;
    display:relative;
    justify-content: center;
    align-items: center;
    
    

}

.input-group2>.input-field
{
    width: 80%;
    margin-left: 10%;
    display:relative;
    color: #fff;
    overflow: hidden;
    
}

::-webkit-input-placeholder
{
    color: #fff;
}

.submit
{
    width: 15%;
    border-radius: 15px;
    margin-left: 40%;
    transform: translate -40% right;
    
}

.box
{
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

.box img
{
    max-width: 100%;
    display: block;
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:649px){
    .input-group>.input-field
    {
     margin: 2%;
       
    }
    .input-group
    {
      padding-right: 3.5vw; 
    }
    
}
















































































