*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header 
{
    width: 100%;
    height: 120vh;    
    background-color: #e9ecef;
    background-image: url(../images/h_img.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:center; 
    color: #fff;
   

}

.circle
{
    width: 90px;
    height: 90px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;   
    border: 4px solid #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
    
.kaido
{
    padding-top:40vh;
    /*line-height:30vh*/

}

.header-w
{
    line-height:12vh;
    padding-top: 3vh;
}

.header-d
{
    position: absolute;
    top:-8vh;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mouse-img
{
    padding-top:23vh;
}

#about-us
{
    text-align: center;
    padding-top:10vh;
    min-height: 50vh;
    width: 100%;
}

@media(max-width:530px){
 #about-us
 {
     min-height: 70vh;
 }
 #services
 {
     height: 100vh;
 }

}

#services
{
    min-height: 60vh;    
    background-image: url(../images/s_image.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;       
}

.luffy
{
    color: #fff;
    text-align: center;
    padding-top:20vh;
    line-height:5vh;
    font-size: large;
}

.work
{
    
    min-height: 40vh;    
    text-align: center;   

}

.pinche
{
    margin-top: 5vh;
    text-align: center;
}

.wrapper
{
    display: flex;    
    padding-top:10vh; 
    text-align: center;
    width:auto;
    justify-content: center;   
    flex-wrap: wrap;  
}

.design
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;

    
}

.development
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;
  
}

.pm
{
    
    margin: 5px;
    min-width: 32%;
    padding: 30px;    
    line-height: 25px;
    position: relative;
    margin-top: -5vh;
    text-align: center;
    flex-wrap: wrap;
}

.portfolio
{
    width :100% ;
    min-height: 75vh;
    background-color: #fff
    
    ;
    margin-left: auto; 
    margin-right: auto;
    background: cover;  
    
}

#portfolio_h3
{
    text-align: center;
}

.imgs-top
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    flex-wrap: wrap;
   
}

.imgs-bottom
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3vh;
    flex-wrap: wrap;
   
}

footer
{
  min-width: 55%;
  min-height: 30vh;
  background-color: #fff;
  padding-left: 20%;
  padding-right:20%;
}

.socials
{
    display: flex;
    justify-content: center;
    padding-top: 10vh ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.bigmom
{
    text-align: center;
    margin-top: 5vh;
    line-height:1vh
}

.contact
{
    min-height: 75vh;
    background-image: url(../images/c_image.jpg);
}



















